*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right,rgb(255, 231, 125),rgb(255, 199, 43));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back-btn{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #2a5298;
    font-weight: bold;
    transition: 0.3s;
}

.back-btn:hover{
    color: #1e3c72;
}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
}


.contact-container{
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.contact-container h1{
    margin-bottom: 10px;
}

.contact-container p{
    margin-bottom: 25px;
    color: gray;
}

.input-group{
    text-align: left;
    margin-bottom: 15px;
}

.input-group label{
    font-size: 14px;
    font-weight: bold;
}

.input-group input,
.input-group textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.input-group input:focus,
.input-group textarea:focus{
    border-color: #2a5298;
    outline: none;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #2a5298;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #1e3c72;
}